{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.body) }}
    {{ form_row(form.img) }}
<ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
    {% for tag in form.tags %}
        <li>{{ form_row(tag.name) }}</li>
    {% endfor %}

</ul>
    {{ form_row(form.categories) }}
<p class="text-center"><button type="submit" class="btn btn-lg btn-success">{{ button_label|default('Save') }}</button></p>
{{ form_end(form) }}

