{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                {{ include('post/loremipsum.html.twig') }}
            </div>
            <div class="col-sm-8">
                {% for post in posts %}
                    <h2>{{ post.title }}</h2>
                    <h5>{{ post.creationDate ? post.creationDate|date('Y-m-d') : '' }}</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>{{ post.description }}</p>
                    <a href="{{ path('post_show', {'id': post.id}) }}">read more...</a>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
